{# templates/paragraph--33-33-33.html.twig #}
<div class="paragraphs-3333">
  <div class="paragraph-column">
    {{ content.field_image_1 }}
    {{ content.field_text_1 }}
  </div>
  <div class="paragraph-column">
    {{ content.field_image_2 }}
    {{ content.field_text_2 }}
  </div>
  <div class="paragraph-column">
    {{ content.field_image_3 }}
    {{ content.field_text_3 }}
  </div>
</div>
